/* 定义全局变量 */
/* 公共的样式放到base.less里面 */
* {
  margin: 0px;
  padding: 0px;
  /* 防止边框padding超出页面宽度出现滚动条 */
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  color: #666;
  text-decoration: none;
  /*一般移动端清除a的点击高亮  透明就表示去掉*/
  -webkit-tap-highlight-color: transparent;
}
input {
  border: none;
  outline: none;
  /*清除移动端默认的表单样式*/
  -webkit-appearance: none;
}
img {
  /* 解决图片3px的间距 */
  vertical-align: middle;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
html,
body {
  height: 100%;
}
body {
  overflow: hidden;
  padding: 40px 0 50px;
}
#header {
  position: fixed;
  top: 0;
  height: 40px;
  display: flex;
  background-color: #f5f5f5;
  width: 100%;
}
#header > a {
  width: 40px;
  height: 40px;
  padding: 10px;
  display: block;
  background-image: url(../images/sprites.png);
  background-size: 200px 200px;
  background-origin: content-box;
  background-clip: content-box;
}
#header > a.icon-back {
  background-position-x: -20px;
}
#header > a.icon-menu {
  background-position-x: -60px;
}
#header form {
  flex: 1;
  position: relative;
  padding-top: 5px;
}
#header form .icon-search {
  width: 20px;
  height: 20px;
  display: block;
  background-image: url(../images/sprites.png);
  background-size: 200px 200px;
  background-origin: content-box;
  background-clip: content-box;
  background-position: -60px -110px;
  position: absolute;
  top: 10px;
  left: 5px;
}
#header form input {
  height: 30px;
  width: 100%;
  padding-left: 30px;
  border-radius: 15px;
}
#main {
  display: flex;
  height: 100%;
}
#main .left {
  width: 85px;
  height: 100%;
  background-color: #f5f5f5;
}
#main .left .swiper-container {
  height: 100%;
}
#main .left .swiper-container .swiper-slide {
  height: auto;
}
#main .left .swiper-container .swiper-slide ul .active a {
  display: block;
  color: #de181b;
  background-color: #fff;
}
#main .left .swiper-container .swiper-slide ul li a {
  font-size: 12px;
  display: block;
  width: 85px;
  height: 46px;
  line-height: 46px;
  text-align: center;
}
#main .right {
  flex: 1;
  padding: 10px;
}
#main .right .swiper-container {
  height: 100%;
}
#main .right .swiper-container .swiper-slide {
  height: auto;
}
#main .right .swiper-container .swiper-slide .jd-brand .title h4 {
  font-size: 14px;
}
#main .right .swiper-container .swiper-slide .jd-brand .content ul {
  display: flex;
  flex-wrap: wrap;
}
#main .right .swiper-container .swiper-slide .jd-brand .content ul li {
  width: 33.3%;
  margin: 10px 0;
}
#main .right .swiper-container .swiper-slide .jd-brand .content ul li a {
  display: block;
  text-align: center;
}
#main .right .swiper-container .swiper-slide .jd-brand .content ul li a img {
  width: 70px;
}
#main .right .swiper-container .swiper-slide .jd-brand .content ul li a span {
  display: block;
  font-size: 12px;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}
#footer ul {
  display: flex;
}
#footer ul li {
  width: 25%;
  text-align: center;
}
#footer ul li a {
  display: inline-block;
}
#footer ul li a img {
  width: 65px;
  height: 50px;
}
