/* 在首页的index.less去导入公共样式文件 */
/* 定义全局变量 */
/* 公共的样式放到base.less里面 */
* {
  margin: 0px;
  padding: 0px;
  /* 防止边框padding超出页面宽度出现滚动条 */
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  color: #666;
  text-decoration: none;
  /*一般移动端清除a的点击高亮  透明就表示去掉*/
  -webkit-tap-highlight-color: transparent;
}
input {
  border: none;
  outline: none;
  /*清除移动端默认的表单样式*/
  -webkit-appearance: none;
}
img {
  /* 解决图片3px的间距 */
  vertical-align: middle;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
body {
  background-color: #ccc;
}
#header {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0px;
  padding-top: 10px;
  display: flex;
}
#header .logo {
  display: block;
  width: 80px;
  height: 40px;
  float: left;
  background-image: url(../images/sprites.png);
  background-size: 200px 200px;
  background-position-y: -110px;
  padding: 5px 10px;
  background-origin: content-box;
  background-clip: content-box;
}
#header .search {
  flex: 1;
  position: relative;
}
#header .search .fangda {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 5px;
  top: 6px;
  background-image: url(../images/sprites.png);
  background-size: 200px 200px;
  background-position: -60px -110px;
}
#header .search .pnt {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  padding-left: 30px;
}
#header .login {
  display: block;
  width: 80px;
  height: 40px;
  float: right;
  text-align: center;
  line-height: 30px;
  color: #fff;
}
#slide img {
  width: 100%;
}
#nav {
  background-color: #fff;
  padding: 10px;
}
#nav ul {
  display: flex;
  flex-wrap: wrap;
}
#nav ul li {
  text-align: center;
  width: 25%;
}
#nav ul li a {
  display: inline-block;
  text-align: center;
  margin: 5px 0;
}
#nav ul li a img {
  width: 40px;
  height: 40px;
}
#nav ul li a p {
  font-size: 14px;
}
#main {
  padding: 10px 10px 60px 10px;
}
#main .skill {
  background-color: #fff;
  border: 1px solid #ccc;
}
#main .skill .skill-tittle {
  height: 30px;
  line-height: 30px;
}
#main .skill .skill-tittle img {
  width: 20px;
  height: 25px;
  float: left;
  margin-left: 5px;
}
#main .skill .skill-tittle .shou {
  font-size: 14px;
  color: #de181b;
  float: left;
  margin-left: 5px;
}
#main .skill .skill-tittle .box {
  float: left;
  margin-left: 5px;
}
#main .skill .skill-tittle .box span {
  color: #fff;
  background-color: #000;
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
}
#main .skill .skill-tittle .box span:nth-child(3n) {
  background-color: #fff;
  color: #000;
}
#main .skill .skill-tittle a {
  float: right;
  margin-right: 5px;
  font-size: 14px;
}
#main .skill .skill-center ul {
  display: flex;
}
#main .skill .skill-center ul li {
  flex: 1;
}
#main .skill .skill-center ul li a {
  display: inline-block;
  text-align: center;
}
#main .skill .skill-center ul li a img {
  width: 110px;
}
#main .skill .skill-center ul li a p:first-of-type {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #de181b;
}
#main .skill .skill-center ul li a p:last-of-type {
  font-size: 12px;
  color: #ccc;
}
#main .skill .skill-center ul li:nth-child(2) {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
#main .jd-market {
  background-color: #fff;
  margin-top: 10px;
}
#main .jd-market .top {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#main .jd-market .top h4 {
  height: 30px;
  padding-left: 30px;
  font-weight: normal;
  line-height: 30px;
  position: relative;
}
#main .jd-market .top h4::before {
  content: '';
  width: 4px;
  height: 15px;
  background-color: #de181b;
  position: absolute;
  top: 8px;
  left: 20px;
}
#main .jd-market .center {
  display: flex;
}
#main .jd-market .center .left {
  flex: 1;
}
#main .jd-market .center .left a img {
  width: 100%;
}
#main .jd-market .center .right {
  flex: 1;
  border-left: 1px solid #ccc;
}
#main .jd-market .center .right a img {
  width: 100%;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}
#footer ul {
  display: flex;
}
#footer ul li {
  width: 25%;
  text-align: center;
}
#footer ul li a {
  display: inline-block;
}
#footer ul li a img {
  width: 65px;
  height: 50px;
}
